{% extends "closedverse_main/layout.html" %}
{% block main-body %}{% load closedverse_user %}{% load closedverse_tags %}
<div id="help" class="main-column">
<div class="post-list-outline">
<h2 class="label">View info for {{ user.username }}</h2>
<div class="help-content">
			<p class="settings-label">Account metadata: Mods under level {{ min_lvl_metadata_perms }} can't see this.</p>
			<div class="user-data">
				<p>Like any other site, we collect small bits of information from accounts for security reasons.
			<h3>General account information:</h3>
				<p>IP address: <span>{% if user.addr %}{{ user.addr }}{% else %}Data missing{% endif %}
				<p>Signup IP address: <span>{% if user.signup_addr %}{{ user.signup_addr }}{% else %}Data missing{% endif %}</p>
				<p>Email: <span>{% if user.email %}{{ user.email }}{% else %}Data missing{% endif %}
				<p>Rank: <span>{% if user.staff %}Staff member.{% elif not user.level <= 0 %}Moderator. (Level {{ user.level }}){% else %}Regular user.{% endif %}
			</div>
			{% if accountmatch %}
			<h3>Account(s) found with the same IP address.</h3>
			<div class="user-data">
			<table style="width:100%">
				<tr>
					<th>Related account</th>
					<th>Created</th>
				</tr>
				{% for accountmatch in accountmatch %}
				<tr>
					<td><a href={% url "main:user-view" accountmatch.username %}>{{ accountmatch.username }}</a></td>
					<td>{{ accountmatch.created }}</td>
				</tr>
				{% endfor %}
			</table>
			</div>
			{% endif %}
			{% if log_attempt %}
			<h3>Account login history:</h3>
			<div class="user-data">
			<table style="width:100%">
				<tr>
					<th>Time</th>
					<th>Success</th>
					<th class="ip">IP</th>
					<th>User agent</th>
				</tr>
				{% for log_attempt in log_attempt %}
				<tr>
					<td>{{ log_attempt.created }}</td>
					<td{% if not log_attempt.success %} style="border: #f44336 2px solid;"{% endif %}>{{ log_attempt.success }}</td>
					<td class="ip">{{ log_attempt.addr }}</td>
					<td>{{ log_attempt.user_agent }}
				</tr>
				{% endfor %}
				</table>
			</div>
			{% else %}
			<p>Error: No login history to report, it was likely deleted.</p>
			{% endif %}
			
			{% if seen_by %}
			<h3>Account viewed by:</h3>
			<div class="user-data">
			<table style="width:100%">
				<tr>
					<th>Time</th>
					<th>Seen by</th>
				</tr>
				{% for seen_by in seen_by %}
				<tr>
					<td>{{ seen_by.created }}</td>
					<td>{{ seen_by.from_user }}</td>
				</tr>
				{% endfor %}
				</table>
			</div>
			{% else %}
			<p>Error: No view history to report, it was likely deleted.</p>
			{% endif %}
			
			<p class='red'>Do I need to state the obvious? Please don't share this, ever!</p>
</div></div></div></div>
{% endblock %}