{% extends "closedverse_main/layout.html" %}
{% block main-body %}{% load closedverse_user %}{% load closedverse_tags %}
{% user_sidebar request user profile 7 False %}
<div class="main-column"><div class="post-list-outline">
<h2 class="label">Change settings for {{ user.username }}</h2>
<form class="setting-form" method="post" action={% url "main:user-tools-set" user.username %}>
		{% for field in user_form %}
			<li class='setting'>
				{% if field.field.widget.input_type == 'checkbox' %}
					<p>&nbsp;</p>
					{{ field }}{{ field.label_tag }}
				{% elif field.field.widget.input_type == 'number' %}
				<p class='settings-label'>{{ field.label_tag }}</p>
				{{ field }}
				{% elif field.field.widget.input_type == 'select' %}
				<p class='settings-label'>{{ field.label_tag }}</p>
				<div class="select-content">
                    <div class="select-button">
				        {{ field }}
				    </div>
				</div>
				{% else %}
					<p class='settings-label'>{{ field.label_tag }}</p>
					<div class="center-input">{{ field }}</div>
				{% endif %}
				<p class='note'>{{ field.help_text }}</p>
				</li>
		{% endfor %}

		{% for field in profile_form %}
			<li class='setting'>
				{% if field.field.widget.input_type == 'checkbox' %}
					<p>&nbsp;</p>
					{{ field }}{{ field.label_tag }}
				{% elif field.field.widget.input_type == 'number' %}
				<p class='settings-label'>{{ field.label_tag }}</p>
				{{ field }}
				{% elif field.field.widget.input_type == 'select' %}
				<p class='settings-label'>{{ field.label_tag }}</p>
				<div class="select-content">
                    <div class="select-button">
				        {{ field }}
				    </div>
				</div>
				{% else %}
					<p class='settings-label'>{{ field.label_tag }}</p>
					<div class="center-input">{{ field }}</div>
				{% endif %}
				<p class='note'>{{ field.help_text }}</p>
				</li>
		{% endfor %}
			<li class="setting">
			<p class="settings-label">Purge content:</p>
			{% for field in purge_form %}
				{{ field }}{{ field.label_tag }}
				<p class='note'>{{ field.help_text }}</p>
			{% endfor %}
			</li>
			<li class="setting">
			<div class="center center-input">
			<p class="settings-label">Metadata:</p>
			<div class="user-data">
				<p>Rank: <span>{% if user.staff %}Staff member.{% elif not user.level <= 0 %}Moderator. (Level {{ user.level }}){% else %}Regular user.{% endif %}
				<p>&nbsp;</p>
			</div>
			{% if request.user.level >= min_lvl_metadata_perms %}
			<a class='button' href="{% url "main:user-tools-meta" user.username %}">View private info</a>
			{% endif %}
			</div>
			</li>
		{% if accountmatch %}
			<h3>Account(s) found with the same IP address.</h3>
			<div class="user-data">
			<table style="width:100%">
				{% for accountmatch in accountmatch %}
				<tr>
					<td><a href={% url "main:user-view" accountmatch.username %}>{{ accountmatch.username }}</a></td>
				</tr>
				{% endfor %}
			</table>
			</div>
		{% endif %}
		
		{% if seen_by %}
			<h3>Account viewed by:</h3>
			<div class="user-data">
			<table style="width:100%">
				<tr>
					<th>Time</th>
					<th>Seen by</th>
				</tr>
				{% for seen_by in seen_by %}
				<tr>
					<td>{{ seen_by.created }}</td>
					<td>{{ seen_by.from_user }}</td>
				</tr>
				{% endfor %}
				</table>
			</div>
		{% endif %}
		
		{% if has_seen %}
			<h3>This user has viewed:</h3>
			<div class="user-data">
			<table style="width:100%">
				<tr>
					<th>Time</th>
					<th>Seen</th>
				</tr>
				{% for has_seen in has_seen %}
				<tr>
					<td>{{ has_seen.created }}</td>
					<td>{{ has_seen.target_user }}</td>
				</tr>
				{% endfor %}
				</table>
			</div>
		{% endif %}
		
			</li>
		{% csrf_token %}
		<div class="form-buttons">
			<input type="submit" class="black-button apply-button" value="Save">
		</div>
</form></div></div>
{% endblock %}