{% extends "closedverse_main/layout.html" %}
{% block main-body %}{% load closedverse_user %}{% load closedverse_tags %}
{% user_sidebar request user profile 7 False %}
<div class="main-column"><div class="post-list-outline">
<h2 class="label">Change settings for {{ user.username }}</h2>
<form class="setting-form" method="post" action={% url "main:user-tools-set" user.username %}>
		{% for field in user_form %}
			<li class='setting'>
				{% if field.field.widget.input_type == 'checkbox' %}
					<p>&nbsp;</p>
					{{ field }}{{ field.label_tag }}
				{% elif field.field.widget.input_type == 'number' %}
				<p class='settings-label'>{{ field.label_tag }}</p>
				{{ field }}
				{% elif field.field.widget.input_type == 'select' %}
				<p class='settings-label'>{{ field.label_tag }}</p>
				<div class="select-content">
                    <div class="select-button">
				        {{ field }}
				    </div>
				</div>
				{% else %}
					<p class='settings-label'>{{ field.label_tag }}</p>
					<div class="center-input">{{ field }}</div>
				{% endif %}
				<p class='note'>{{ field.help_text }}</p>
				</li>
		{% endfor %}

		{% for field in profile_form %}
			<li class='setting'>
				{% if field.field.widget.input_type == 'checkbox' %}
					<p>&nbsp;</p>
					{{ field }}{{ field.label_tag }}
				{% elif field.field.widget.input_type == 'number' %}
				<p class='settings-label'>{{ field.label_tag }}</p>
				{{ field }}
				{% elif field.field.widget.input_type == 'select' %}
				<p class='settings-label'>{{ field.label_tag }}</p>
				<div class="select-content">
                    <div class="select-button">
				        {{ field }}
				    </div>
				</div>
				{% else %}
					<p class='settings-label'>{{ field.label_tag }}</p>
					<div class="center-input">{{ field }}</div>
				{% endif %}
				<p class='note'>{{ field.help_text }}</p>
				</li>
		{% endfor %}
			<li class="setting">
			<p class="settings-label">Purge content:</p>
			{% for field in purge_form %}
				{{ field }}{{ field.label_tag }}
				<p class='note'>{{ field.help_text }}</p>
			{% endfor %}
			</li>
		{% if accountmatch %}
			<h3>Account(s) found with the same IP address.</h3>
			<div class="user-data">
			<table style="width:100%">
				<tr>
					<th>Created</th>
					<th>Match</th>
				</tr>
				{% for accountmatch in accountmatch %}
				<tr>
					<td>{{ accountmatch.created }}</td>
					<td><a href={% url "main:user-view" accountmatch.username %}>{{ accountmatch.username }}</a></td>
				</tr>
				{% endfor %}
			</table>
			</div>
		{% endif %}
		{% csrf_token %}
		<div class="form-buttons">
			<input type="submit" class="black-button apply-button" value="Save">
		</div>
</form></div></div>
{% endblock %}