{% load closedverse_tags %}<div id="empathy-content"{% if not yeahs %} class="none"{% endif %}>
{% if myself.is_authenticated %}<a href="{% url "main:user-view" myself.username %}" {% if not has_yeah %} style="display: none;"{% endif %} class="post-permalink-feeling-icon visitor{% if myself.get_class.0 %} official"><img src="{% user_class myself %}" class="official-tag">{% else %}">{% endif %}<img src="{% avatar myself %}" class="user-icon"></a>{% endif %}
{% for yeah in yeahs %}{% if not myself.is_authenticated or not yeah.by == myself %}
<a href="{% url "main:user-view" yeah.by.username %}" class="post-permalink-feeling-icon{% if yeah.by.get_class.0 %} official"><img src="{% user_class yeah.by %}" class="official-tag">{% else %}">{% endif %}<img src="{% avatar yeah.by yeah.feeling %}" class="user-icon"></a>
{% endif %}{% endfor %}
</div>
