<label class="file-button-container">
  <span class="input-label">File <span id="image-dimensions">Images, videos and audio are supported.</span></span>
  <span class="button file-upload-button">Upload</span>
  <input type="file" style="display: none;" id="upload-file" name="file">
    <div id="upload-preview-container" class="screenshot-container still-image" style="display: none;">
      <img id="upload-preview">
      <!-- not functional currently
      	<video id="video-upload-preview"></video>
      -->
    </div>
</label>

