
<!--  <div class="file-button-container">
      <span class="input-div">Image <span>PNG, JPG, and GIF are allowed.</span></span>
      <input type="file" class="file-button" accept="image/png, image/jpeg, image/jpg, image/svg+xml, image/bmp, image/gif">
    </div>
-->
<label class="file-button-container">
  <span class="input-label">Image <span id="image-dimensions">PNG and JPEG are allowed.</span></span>
  <span class="button file-upload-button">Upload</span>
  <input accept="image/gif, image/png, image/jpeg, image/jpg, image/svg+xml, image/bmp" type="file" style="display: none;" id="upload-file" name="screen">
    <div id="upload-preview-container" class="screenshot-container still-image" style="display: none;">
      <img id="upload-preview">
      <!-- not functional currently
      	<video id="video-upload-preview"></video>
      -->
    </div>
</label>
<div class="file-button-container">
  <span class="input-label">Video <span>MP4s and WEBMs are allowed. (50MB size limit)</span></span>
  <input type="file" class="file-button" name="video" accept="video/mp4, video/webm">
</div>

