{% load markdown_deux_tags %}{% load closedverse_tags %}      <div class="post scroll {% if message.mine %}my{% else %}other{% endif %}" id="message-{{ message.id }}">
        {% user_icon_container message.creator message.feeling %}
		<p class="timestamp-container">
          <span class="timestamp">{% time message.created %}{% if message.read %} - Read{% endif %}</span>
		  <button type="button" class="symbol button edit-button rm-post-button" data-action="{% url "main:message-delete" message.id %}"><span class="symbol-label">Delete</span></button>
        </p>
        <div class="post-body">
		  {% if message.drawing %}
		  <p class="post-content-memo"><img src="{{ message.drawing }}"></p>
		  {% else %}
          <div class="post-content-text">{{ message.body }}</div>
		  {% endif %}
		{% if message.file %}
			{% if message.file_type == 1 %}<div class="screenshot-container still-image"><img src="{{ message.file.url }}"></div>
			{% elif message.file_type == 2 %}<div class="screenshot-container"><video controls src="{{ message.file.url }}" style="max-width:100%;max-height: 450px;"></video></div>
			{% elif message.file_type == 3 %}<div class="screenshot-container"><audio controls src="{{ message.file.url }}"></audio></div>
			{% elif message.file_type == 0 %}<a class="button download-confirm" href="{{ message.file.url }}">Download {{ message.file }}</a>
			{% endif %}
		{% endif %}
        </div>
      </div>
