{% if not comment.is_rm %}{% load closedverse_tags %}<li id="comment-{{ comment.id }}" {% if comment.spoils and not comment.is_mine or comment.creator.banned %}data-href-hidden{% else %}data-href{% endif %}="{% url "main:comment-view" comment.id %}" class="post {% if comment.owner_post %}my{% else %}other{% endif %}{% if comment.spoils and not comment.is_mine or comment.creator.banned %} hidden{% endif %} trigger">
  {% user_icon_container comment.creator comment.feeling %}
  <div class="body">
    <div class="header">
      <p class="user-name"><a {% if comment.creator.color %}style=color:{{ comment.creator.color }}{% endif %} href="{% url "main:user-view" comment.creator.username %}">{{ comment.creator.nickname }}</a></p>
	  <p class="timestamp-container">
        <a class="timestamp" {% if comment.spoils and not comment.is_mine %}data-href-hidden{% else %}href{% endif %}="{% url "main:comment-view" comment.id %}">{% time comment.created %}</a>
		{% if comment.has_edit %}
			<span class="spoiler">· Edited</span>
		{% endif %}
        <span class="spoiler-status{% if comment.spoils %} spoiler{% endif %}"> · Spoilers</span>
      </p>
    </div>

    <div class="reply-content-text">{{ comment.body|linebreaksbr }}</div>
	{% if comment.file %}
	{% if comment.file_type == 1 %}<div class="screenshot-container still-image"><img src="{{ comment.file.url }}"></div>
	{% elif comment.file_type == 2 %}<div class="screenshot-container"><video controls src="{{ comment.file.url }}" style="max-width:100%;max-height: 450px;"></video></div>
	{% elif comment.file_type == 3 %}<div class="screenshot-container"><audio controls src="{{ comment.file.url }}"></audio></div>
	{% else %}<a>File attached</a>
	{% endif %}
	{% endif %}
	{% if comment.spoils and not comment.is_mine and not comment.creator.banned %}
		<div class="hidden-content"><p>This comment contains spoilers.</p>
      <button type="button" class="hidden-content-button">View Comment</button>
    </div>
	{% endif %}
	{% if comment.creator.banned %}
			<div class="hidden-content"><p>Content hidden because {{ comment.creator.username }} was banned. </p>
			{% if comment.creator.active_ban.reason %}
			<p>Reason: {{comment.creator.active_ban.reason }}
			{% endif %}
                <button type="button" class="hidden-content-button">View Anyway</button>
          </p></div>
			{% endif %}

    <div class="reply-meta">
		<button type="button" {% if not comment.can_yeah %}disabled{% endif %} class="symbol submit yeah-button
		  {% if comment.has_yeah %}empathy-added{% endif %}
		  " data-is-in-reply-list="1" data-feeling="" data-action="{% url "main:comment-add-yeah" comment.id %}" data-url-id="{{ comment.id }}"><span class="yeah-button-text">{% empathy_txt comment.feeling comment.has_yeah %}</span></button>
        <div class="empathy symbol"><span class="symbol-label">Yeahs</span><span class="empathy-count">{{ comment.number_yeahs }}</span></div>
    </div>
  </div>
</li>
{% endif %}
