{% load closedverse_tags %}<div class="news-list-content trigger{% if not notification.read %} notify{% endif %}{% if notification.type == 5 %} bigger{% endif %}" tabindex="0" id="{{ notification.unique_id }}" {% if notification.url %}data-href="{{ notification.url }}"{% endif %}>
  {% if not notification.type == 5 %}{% user_icon_container notification.source %}{% endif %}
  <div class="body">
  {% if notification.type == 0 %}
  {% print_names notification.all_users %} gave <a href="{{ notification.url }}" class="link">your post&nbsp;({{ notification.context_post.trun|truncatechars:30 }})</a> a Yeah.
  {% elif notification.type == 1 %}
  {% print_names notification.all_users %} gave <a href="{{ notification.url }}" class="link">your comment&nbsp;({{ notification.context_comment.trun|truncatechars:30 }})</a> a Yeah.
  {% elif notification.type == 2 %}
  {% print_names notification.all_users %} commented on <a href="{{ notification.url }}" class="link">your post&nbsp;({{ notification.context_post.trun|truncatechars:30 }})</a>.
  {% elif notification.type == 3 %}
  {% print_names notification.all_users %} commented on <a href="{{ notification.url }}" class="link">{{ notification.source.nickname }}'s post&nbsp;({{ notification.context_post.trun|truncatechars:30 }})</a>.
  {% elif notification.type == 4 %}
  Followed by {% print_names notification.all_users %}.
  {% elif notification.type == 5 %}
<p class='warning-notif'>You've received a warning from an administrator!</p>
{% if notification.context_warning.reason %}<p class='warning-reason'><b>Reason: </b>{{ notification.context_warning.reason }}</p>{% endif %}
<p class='warning-note'>To avoid seeing this in the future, it's a good idea to catch up on the rules. Continuous violations of our rules may result in your account getting restricted.</p>
  {% endif %}
    <span class="timestamp"> {% time notification.latest %}</span>
{% if notification.type == 4 and not notification.source.is_following and not notification.all_users|length > 1 %}
<div class="toggle-button">
    <button type="button" data-action="{% url "main:user-follow" notification.source.username %}" class="follow-button button symbol">Follow</button>
      <button type="button" class="button follow-done-button relationship-button symbol none" disabled="">Follow</button>
</div>
{% else %}
<button class="symbol button rm" type="button"></button>
{% endif %}

  </div>

</div>