{% extends "closedverse_main/layout.html" %}
{% block main-body %}{% load closedverse_user %}
{% user_sidebar request user user.profile 0 True %}
<div id="help" class="main-column">
	<div class="post-list-outline">
		<h2 class="label">Change password</h2>
		<form class="setting-form" method="post" action={% url "main:change-password-set" %}>
		<p>You can change your password here</p>
		<li class="setting">
			<p class="settings-label">Old Password:</p>
			<div class="center center-input">
				<input type="password" name="old-password" maxlength="100" placeholder="Old Password">
			</div>
			<p class="settings-label">New Password:</p>
			<div class="center center-input">
				<input type="password" name="new-password" maxlength="100" placeholder="New Password">
			</div>
			<p class="settings-label">Confirm Password:</p>
			<div class="center center-input">
				<input type="password" name="confirm-password" maxlength="100" placeholder="Confirm Password">
			</div>
		</li>
		{% csrf_token %}
		<div class="form-buttons">
			<input type="submit" class="black-button apply-button" value="Confirm">
		</div>
	</form>
	</div>
</div>
</div>
{% endblock %}
