{% extends "closedverse_main/layout.html" %}{% block main-body %}{% load closedverse_community %}
{% community_sidebar community request %}
	<div class="main-column">
		<div class="post-list-outline">
		<h2 class="label">{{ community.name }}</h2>
		{% if request.user.is_authenticated and community.post_perm %}
		{% post_form request.user community %}
		{% endif %}
			<div class="body-content" id="community-post-list">
				{% post_list posts next 0 '' time %}
			</div>
		</div>
	</div>

{% endblock %}
