{% extends "closedverse_main/layout.html" %}
{% load closedverse_tags %}{% load closedverse_community %}{% block main-body %}
<div class="community-main">
	</div>
	<div class="community-top-sidebar">
	<div class="post-list-outline index-memo">
		<h2 class="label">Community creation Q&amp;A</h2>
		<h2>Why?</h2>
		<p>I have no idea, I guess it's cool to have. You can have your own little corner of this site now...</p>
		<h2>What can I do with my own community?</h2>
		<p>You can edit it, and that's basically it.</p>
		<h2>What are C-Tokens, and how do I get them?</h2>
		<p>Community tokens are a stupid and overcomplicated method of preventing 200,000 communities from being made by one person. You get one when signing up, and you can use it to make your own community. Please do not ask staff for more C-Tokens unless you believe the communities you are going to make are really that good.</p>
		<h2>Any future plans?</h2>
		<p>no</p>
	</div>
	{% if request.user.c_tokens > 0 %}<a class="big-button" href={% url "main:community-create" %}><span class="symbol-label">Create a community</span></a>{% endif %}
	</div>
	<div class="community-main">
		<br>
			<div class="community-switcher">
				<a class="community-switcher-tab gen {% if category == "gen" %}selected{% endif %}" href="{% url "main:community-viewall" "gen" %}">General</a>
				<a class="community-switcher-tab game {% if category == "game" %}selected{% endif %}" href="{% url "main:community-viewall" "game" %}">Game</a>
				<a class="community-switcher-tab special {% if category == "special" %}selected{% endif %}" href="{% url "main:community-viewall" "special" %}">Special</a>
				<a class="community-switcher-tab usr {% if category == "usr" %}selected{% endif %}" href="{% url "main:community-viewall" "usr" %}">User</a>
			</div>
			<div class="communities">
				{% community_page_element communities text %}
			</div>
			{% if has_next %}
				<a href="{% url "main:community-viewall" category %}?offset={{ next }}" class="big-button">Next</a>
			{% endif %}
		{% if has_back %}
			<p>&nbsp</p>
			<a href="{% url "main:community-viewall" category %}?offset={{ back }}" class="big-button">Back</a>
		{% endif %}
	</div>
{% endblock %}
