{% extends "closedverse_main/layout.html" %}
{% load closedverse_tags %}{% load closedverse_community %}{% load closedverse_user %}{% block main-body %}
<div class="community-main">
		<div id="community-eyecatch"></div>
	</div>
	<div class="community-top-sidebar">
		<form action="{% url "main:community-search" %}" class="search">
			<input maxlength="32" name="query" placeholder="Search all communities" type="text"><input title="Search" type="submit" value="q">
		</form>
		<!--<div class="close-announce-container">
			<div class="close-announce-link">
				<a class="title" id="close-text-ann" href="/posts/1186"><b>Closedverse is still in indefinite maintenance.</b></a>
			</div>
		</div>-->
		
		{% if user.is_warned and user.is_active %}
		<div class="notice" style="background-color: #ffc783;border: 1px solid #ffb358;">
		<p><b>WARNING</b>: You have been issued a warning by an administrator.
		<div> 
		{% if user.get_warned_reason %}
		<p>Reason: "{{ user.get_warned_reason }}"</p>
		{% endif %}
		</div>
		</div>
		{% endif %}
		{% if not user.is_active and user.is_authenticated %}
		<div class="notice" style="background-color: #ff9797;border: 1px solid #ff5252;">
		<p><b>Oops</b>: You've been smacked by an admin. Better luck next time.
		<div> 
		{% if user.get_warned_reason %}
		<p>Reason: "{{ user.get_warned_reason }}"</p>
		{% endif %}
		</div>
		</div>
		{% endif %}
		
		{% if settings.memo_title and settings.memo_msg %}
				<div class="post-list-outline index-memo">
					<h2 class="label">{{ settings.memo_title }}</h2>
					<div>
					{% autoescape off %}{{ settings.memo_msg }}{% endautoescape %}
					</div>
				</div>
		{% endif %}
		
	{% if announcements and request.user.is_authenticated %}
	<div class="tleft">
  	<div class="post-list-outline">
      <h2 class="label">Latest Announcements</h2>
			<div class="post-body">
	        <div class="list multi-timeline-post-list">
					{% for announcement in announcements %}
						{% profile_post announcement True %}
					{% endfor %}
	        </div>
	  	</div>
  </div>
  </div>
	{% endif %}
	{% if request.user.c_tokens > 0 %}<a class="big-button" href={% url "main:community-create" %}><span class="symbol-label">Create a community</span></a>{% endif %}
		{% if availableads %}
			<div class="adx">
				<h3>User-Generated Ad</h3>
                <p><a href="/help/whatads">What are user-generated ads?</a></p>
				<a href="{{ ad.url }}"><img src="{{ ad.imageurl.url }}"></a>
			</div>
		{% endif %}
	</div>
	<div class="community-main" id="communities">
	{% if favorites %}
		<h3 class="community-title symbol community-favorite-title">Favorite communities</h3>
		<div class="card" id="community-favorite">
		  <ul>
			{% for favorite in favorites %}
				<li class="test-favorite-community">
				  <a href="{% url "main:community-view" favorite.id %}" class="icon-container">
					<img src="{{ favorite.icon }}" class="icon">

				  </a>
				</li>
			 {% endfor %}

			<li class="read-more">
			  <a href="{% url "main:community-favorites" %}" class="favorite-community-link symbol"><span class="symbol-label">Show more</span></a>
			</li>
		  </ul>
		</div>
	{% endif %}
		{% if feature %}
			{% community_page_element feature "Featured Communities" True %}
		{% endif %}
			{% community_page_element general "General Communities" False "general" %}
			{% community_page_element game "Game Communities" False "game" %}
			{% community_page_element special "Special Communities" False "special" %}
			{% community_page_element user_communities "Popular User-Created Communities" False "usr" %}
			{% if user_communities %}<a href="{% url "main:community-viewall" "usr" %}" class="big-button">Show more</a>{% endif %}
			{% community_page_element my_communities "My Communities" %}

			{% if not feature and not game and not special and not user_communities and not my_communities %}
				<div class="post-list-outline">
				{% nocontent "There are no communities of any kind yet. You can either create one in the admin panel, or make a user-created community once you sign up." %}
				</div>
			{% endif %}
	</div>
	<div id="community-guide-footer">
		<div id="guide-menu">
			<a class="arrow-button" href="{% url "main:help-why" %}"><span>Why join?</span></a>
			<a class="arrow-button" href="{% url "main:help-rules" %}"><span>{{ brand_name }} Rules</span></a>
			{% if request.user.is_authenticated %}
			<a class="arrow-button" href="{% url "main:my-data" %}"><span>My Data</span></a>
			{% endif %}
			<a class="arrow-button" href="{% url "main:help-faq" %}"><span>Frequently Asked Questions (FAQ)</span></a>
			<a class="arrow-button" href="{% url "main:what-ads" %}"><span>What are user-generated ads?</span></a>
			{% if settings.CLOSEDVERSE_PROD %}
			<a class="arrow-button" href="{% url "main:help-contact" %}"><span>Contact information</span></a>
			{% endif %}
			<a class="arrow-button" href="https://github.com/ariankordi/closedverse"><span>Closedverse Github</span></a>
			<a class="arrow-button" href="https://github.com/Mistake35/Cedar-Django"><span>Cedar-Django Github</span></a>
		</div>
	</div>
{% endblock %}
